@import url('../../App.css');

.talents__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.talents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    .talents {
        flex-direction: column;
    }
}

@media (max-width: 1010px) {
    .talents__container {
        max-width: 100%;
    }
}

.anchor {
    display: inline-block;
}