@import url('../../App.css');

.how-to-use {
    margin-top: 100px;
    font-family: 'Manrope', sans-serif;
}

.how-to-use .title, .how-to-use .subtitle {
    text-align: center;
}

.how-to-use .title {
    font-size: 64px;
    font-weight: 600;
}

.how-to-use .subtitle {
    font-size: 26px;
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 75px;
}

.how-to-use img {
    width: 400px;
}

@media screen and (max-width: 767px) {
    #mobile1, #mobile3 {
        flex-direction: column-reverse;
    }      
    
    #mobile2 {
        flex-direction: column;
    }  
}