@import url('../../App.css');

.becomeexpert {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.becomeexpert__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.becomeexpert__hero-left {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 30px;
}

.becomeexpert__hero-left h1 {
    font-weight: 600;
    font-size: 60px;
    color: #ffffffa7;
}

.becomeexpert__hero-left span {
    color: #ffffff;
}

.becomeexpert__hero-left p {
    font-size: 25px;
}

.expert-cards1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}

.expert-cards2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.expert-funciona {
    text-align: center;
    margin-top: 150px;
    font-size: 60px;
    font-weight: 700;
}

@media screen and (max-width: 820px) {
    .becomeexpert {
        width: 90%;
    }

    .becomeexpert__hero {
        flex-direction: column;
    }
    
.becomeexpert__hero-left {
    width: 100%;
}

.becomeexpert__hero-left p {
    font-size: 22px;
}

.expert-cards1 {
    flex-direction: column;
}

.expert-cards2 {
    flex-direction: column;
}

.expert-funciona {
    text-align: center;
    margin-top: 150px;
    font-size: 60px;
    font-weight: 700;
}
}

@media screen and (min-width: 880px) and (max-width: 1024px) {
    .becomeexpert {
        width: 90%;
    }

    .becomeexpert__hero img {
        width: 800px;
    }
    

.expert-cards1 {
    flex-direction: column;

}

.expert-cards2 {
    width: 90%;
}

.expert-cards2 p {
    font-size: 14px;
}
}