@import url('../../App.css');

.secaoterciaria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 100px auto;
}

 .secaoterciaria__left {
   display: flex;
   flex-direction: column;
   gap: 20px; 
   width: 50%;
}

.secaoterciaria__left h1{
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
} 

.secaoterciaria__left span {
    color: hsla(0, 0%, 100%, .5);
}

.secaoterciaria__left p {
    font-size: 26px;
    font-weight: 300;
}

.secaoterciaria__right img {
    width: 700px;
}

@media screen and (max-width: 767px) {
    .secaoterciaria {
        flex-direction: column;
        width: 90%;
    }

    .secaoterciaria__left {
        width: 110%;
    }

    .secaoterciaria__left h1{
        font-size: 40px;
        text-align: center;
    } 

    .secaoterciaria__left p{
        font-size: 20px;
        text-align: center;
    } 

    .secaoterciaria__botao {
        display: flex;
        justify-content: center;
    }

}