@import url('../../App.css');

.grid-gallery-card {
    position: relative;
    perspective: 1000;
    border-radius: 8px;
}

.grid-gallery-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.grid-gallery-card:hover .grid-gallery-content {
    transform: rotateY(180deg);
}

.grid-gallery-front, .grid-gallery-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.grid-gallery-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: white;
    background: linear-gradient(165deg, #2a2b39 48.63%, rgba(0, 0, 0, .5) 107.16%);;
}