@import url('../../App.css');

header {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

nav a:hover {
    color: rgba(144, 255, 209, 0.494);
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 20px;
    }

    nav {
        display: none;
    }
}