@import url('../../App.css');

.secaoprimaria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
    width: 80%;
    margin: auto;
}

.secaoprimaria__left img {
    width: 800px;
}

.secaoprimaria__right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.secaoprimaria__right h1 {
    font-size: 45px;
    font-weight: 600;
    max-width: 85%;
}

.secaoprimaria__right h2 {
    font-size: 32px;
}

.secaoprimaria__right ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.secaoprimaria__right li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.secaoprimaria__right li h3 {
    font-size: 26px;
    max-width: 85%;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .secaoprimaria {
        flex-direction: column;
        width: 90%;

    }

    .secaoprimaria__left img {
        width: 700px;
    }

    .secaoprimaria__right li img {
        width: 40px;
    }

    .secaoprimaria__right li h3{
        font-size: 20px;
    }
}