@import url('../../App.css');


.slide-container {
    position: relative;
    max-width: 400px;
    margin: auto;
    /* overflow: hidden; */
    margin-top: 100px;
  }
  
  .mySlides {
    display: none;
  }
  
  .mySlides.active {
    display: block;
  }
  
  .mySlides img {
    width: 100%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 1000;
    width: 55px;
  }
  
  .next {
    right: -50px;
    border-radius: 3px;
  }
  
  .prev {
    left: -50px;
    border-radius: 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 525px) {
    .next, .prev {
      top: 830px;
    }

    .next {
      left: 60%;
      max-width: 100%;
    }
    .prev {
      left: 30%;
    }
  }